@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1C1F24;
}

.header {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    height: 75px;
    background: #121212;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    gap: 80px;
    
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px; 
  letter-spacing: 0;
  line-height: 17.36px;
  font-weight: 600;
  /* color: white; */
}

.nav-links a{
    color: white;
    text-decoration: none;
}

.nav-btn{
    padding: 12px 24px;
    box-shadow: #6337AE40;
    border-radius: 10px;
    border: 1px solid  #121212;
    background-color: #6337AE;
    color: white;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    height: 40px;
}

.nav-btn:hover{
    background-color: #B69EE0;
}

.hero{
    background-color: #1B1E23;
    height: auto;
    text-align: center;
    background-image: url(assets/hero-bg.png);
}

.hero-sec h1{
    padding-top: 12px;
    font-size: 56px;
    color: white;
    
}


.hero-sec p{
    margin-top: 24px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.hero-btn{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
    
}

.see-ada{
    padding: 12px 24px 12px 24px;
   background: linear-gradient(180deg, #9977D4 0%, #6337AE 100%);
   color: white;
   border-radius: 10px;
   font-weight: 800;
   border: 1px solid  #1B1E23;
   cursor: pointer;

}

.see-ada:hover{
    background-color: #6337AE;
}

.learn-more{
    padding: 12px 24px 12px 24px;
    border: 2px solid #9977D4;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;

}

.learn-more:hover{
    background-color: #6337AE;
}

.hero-img {
  margin-top: 101px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.sp1{
    color: #9CEAEC;
}

.sp2{
    color: #B69EE0;
}

.basic{
    background-color: #1C1F24;
    padding-top: 100px;
    padding-right: 100px;
    height: auto;

}

.basic-details{
    padding-left: 100px;
    /* padding-right: 522px; */
    color: white;
}

.basic-details h1{
    font-size: 48px;
}

.basic-details p{
    color: white;
}

.basic-btn{
     margin-top: 32px;
    display: flex;
    gap: 32px;
}

.basic-img{
    width: 100%;
    overflow: hidden; 
}

.basic-img img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.basic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23.35px;
    margin-top: 80px;
}

.basic-card {
    display: flex;               
    flex-direction: column;      
    align-items: center;         
    text-align: center;          
    /* border: 1px solid red; */
    padding: 30px 20px;
    box-shadow: 0px 7.75px 9.69px -5.81px #0000001A;
    backdrop-filter: blur(11.625px);
    background-color: linear-gradient(135deg, rgba(27, 30, 35, 0.5) 0%, rgba(22, 25, 29, 0.5) 100%);
    border: 0.97px solid #FFFFFF1A;
    border-radius: 12px;
}

.basic-card h1{
    font-size: 23.25px;
}

.basic-card{
    font-size: 15.5px;
}

.resolve-sec{
    padding-top: 80px;
}

.resolve {
  display: flex;
  align-items: center;     
  justify-content: space-evenly;
  /* gap: 48px;              */
}

.resolve p{
    padding-top: 30.29px;
}

.resolve img{
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}


.resolve-btn{
    margin-top: 31.24px;
    padding: 16px 24px;
    color: white;
    font-weight: 800;
    background-color: #6337AE;
    border-radius: 10px;
    border: 1px solid #1C1F24;
    box-shadow: 0px 2px 4px 0px #6337AE40 inset;
    cursor: pointer;

}

.resolve-btn:hover{
    background-color: #9977D4;
}

/* Stats Section  */
.stats-sec{
    background-color: #1B1E23;
    height: auto;
    display: flex;
    justify-content: center;
}


.num{
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-top: 160px;
    text-align: center;
}

.para{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}
.stats-section {
  padding: 100px 0;
  background: #1B1E23;
}

.stats-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}


.stats-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.stats-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.stat-card,
.brand-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  padding: 40px;
  color: #fff;
}

.stat-card.large {
  padding: 60px 40px;
  /* height: 269px; */
}

.stat-card h1 {
  font-size: 64px;
  margin: 10px 0;
}

.stat-card p {
  font-size: 24px;
  opacity: 0.8;
}

.small-text {
  font-size: 14px;
  opacity: 0.6;
}

.brand-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
}

.brand-info p {
  font-size: 18px;
  opacity: 0.9;
}

.brand-logo {
  height: 40px;
  object-fit: contain;
}

.automate-sec{
    display: flex;
    flex-direction: row;
    justify-content: center;
   background-image: url(assets/hero-bg.png);
    height: auto;
    margin-top: 30px;
}

.automate{
  display: flex;
  flex-direction: column;
  align-items: center;
    text-align: center;
}

.automate h1{
    font-size: 48px;
    color: white
}

.automate-btn{
    margin-top: 32px;
    padding: 16px 24px;
    background-color: #6337AE;
    color: white;
    border-radius: 10px;
    font-weight: 800;
    border: 1px solid #1B1E23;
    cursor: pointer;
}

.automate-btn:hover{
    background-color: #B69EE0;
}

/* SECTION BACKGROUND */
.case-study-section {
    margin-top: 50px;
  padding: 80px 5%;
  background: #1B1E23;
  font-family: "Inter", sans-serif;
  color: #fff;
  background-image: url(assets/hero-bg.png);
}


.case-study-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}


.case-left,
.case-right {
  background: linear-gradient(145deg, #1B1E2380, #16191D80);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 16px;
  padding: 40px;
  position: relative;
}


.case-left h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 30px;
}

.case-btn {
  padding: 14px 28px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(90deg, #7b5cff, #a855f7);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.case-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* RIGHT CARD */
.case-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.logo-placeholder {
  font-size: 28px;
  font-weight: bold;
  color: #ff3b3b;
}

.case-link {
  color: #9d7bff;
  text-decoration: none;
  font-weight: 800;
}

.case-link:hover {
  text-decoration: underline;
}

/* CONTENT GRID */
.case-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
}

/* STATS */
.case-stats .stat {
  margin-bottom: 30px;
}

.case-stats h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.case-stats p {
  color: #9aa0b5;
  font-size: 14px;
}


.quote {
  font-size: 15px;
  line-height: 1.7;
  color: #c7cbe2;
  margin-bottom: 30px;
}


.author {
  display: flex;
  align-items: center;
  gap: 15px;
}

.author-img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
  background: #2b2f45;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #aaa;
}

.author h4 {
  margin: 0;
  font-size: 16px;
}

.author span {
  font-size: 13px;
  color: #9aa0b5;
}

/* FOOTER */
.footer {
    margin-top: 80px;
  background-color: #1B1E22;
  padding: 100px 5% 60px;
  color: #cbd0e6;
  font-family: "Inter", sans-serif;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* CONTAINER */
.footer-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 80px;
  max-width: 1400px;
  margin: auto;
}

/* BRAND */
.footer-logo {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer-socials {
  display: flex;
  gap: 18px;
}

.footer-socials a {
  text-decoration: none;
  color: #cbd0e6;
  font-size: 18px;
  transition: 0.3s ease;
}

.footer-socials a:hover {
  color: #9d7bff;
  transform: translateY(-2px);
}

/* LINKS GRID */
.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.footer-column h4 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #9aa0b5;
  font-size: 14px;
  margin-bottom: 14px;
  transition: 0.3s ease;
}

.footer-column a:hover {
  color: #ffffff;
  padding-left: 4px;
}


/* Responsiveness  */
/* Large Tablets (1200px and below)  */
@media (max-width: 1200px) {

  nav {
    margin-left: 40px;
    margin-right: 40px;
    gap: 40px;
  }

  .basic {
    padding-right: 40px;
  }

  .basic-details {
    padding-left: 40px;
  }

  .stats-container {
    grid-template-columns: 1fr;
  }

  .case-study-container {
    grid-template-columns: 1fr;
  }

  .case-content {
    grid-template-columns: 1fr;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-links {
    grid-template-columns: 1fr 1fr;
  }

}

/* Tablets (992px and below)  */
@media (max-width: 992px) {

  /* Remove fixed heights */
  .hero,
  .basic,
  .stats-sec {
    height: auto;
  }

  nav {
    margin-left: 20px;
    margin-right: 20px;
  }

  .nav-links {
    gap: 20px;
  }

  .hero-sec h1 {
    font-size: 42px;
  }

  .hero-sec p {
    font-size: 18px;
  }

  .basic-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .resolve {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .stats-container {
    grid-template-columns: 1fr;
  }

  .stat-card h1 {
    font-size: 48px;
  }

}

/* Mobile (768px and below)  */
@media (max-width: 768px) {

  /* NAV STACK */
  nav {
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    height: auto;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }

  .hero-sec h1 {
    font-size: 32px;
  }

  .hero-btn{
    flex-direction: column;
    width: 100%;
   padding: 0 30px;

  }

  .hero-sec p {
    font-size: 16px;
    padding: 0 20px;
  }

  .hero img{
    width: 100%;
    height: auto;
  }

  /* .hero-btn {
    flex-direction: column;
   
    gap: 20px;
  } */

  .hero-btn {
    padding: 0 20px;
  }

  .hero-btn button {
    width: 100%;
  }

  .basic-details h1 {
    font-size: 32px;
  }

  .basic-btn {
    flex-direction: column;
  }
  .basic-img{
    margin-top: 50px;
  }

  .basic-grid {
    grid-template-columns: 1fr;
  }

  .resolve img {
    width: 100%;
  }

  .stat-card {
    padding: 30px;
  }

  .stat-card h1 {
    font-size: 40px;
  }

  .case-left h2 {
    font-size: 24px;
    text-align: center;
  }

  .case-left{
    text-align: center;
    display: flex;
    flex-direction: column;
  align-items: center;
  }

  .case-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .author {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links {
    grid-template-columns: 1fr;
  }

}


/* Small Phones (480px and below)  */
@media (max-width: 480px) {

  .hero-sec h1 {
    font-size: 26px;
  }

  .stat-card h1 {
    font-size: 32px;
  }

  .num {
    font-size: 32px;
  }

  .automate h1 {
    font-size: 28px;
  }

  .footer {
    padding: 60px 5% 40px;
  }

}

